/*-------- standered measurments------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!------------------Starting header area---------- --> */
.header-container {
    width: 100%;
    max-width: 1907px;
    height: 1207px;
    background: rgba(255, 144, 14, 0.1);


}

.header-main-flex {
    display: flex;
    justify-content: space-between;
    padding: 50px 175px 50px 250px;


}

.header-secondary-flex {
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;

}

ul li {
    list-style-type: none;

}

/* content area of header---------------------------------------- */
.header-div-align {

    width: 862px;

    margin: 100px auto 0 auto;
    text-align: center;

}

.header-title {
    font-size: 64px;
    line-height: 75px;
    text-align: center;

}


.header-small-description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;


}

.header-button {
    text-align: center;
    margin-top: 32px;

}

.btn {
    width: 180px;
    height: 64px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    color: #FFFFFF;
    background: #FF900E;
    border: 1px solid white;
    border-radius: 8px;
}

.header-img>img {

    width: 100%;

    height: auto;
    padding: 50px 200px;


}

/* 
start main  1 area---------------------------------------- */
.main-container {}

.main-flex {
    display: flex;
    margin: 50px 200px;
}

.main-grid>img {
    max-width: 342px;
    max-height: 342px;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.main-content {
    width: 537px;
    height: 304px;
    margin-left: 50px;
    margin-top: 120px;

}

.main-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;


}

.main-title-div {
    width: 468px;
    height: 106px;
}

.main-title-color-1 {
    color: #727272;

}

.main-title-color-2 {
    color: #131313;
}

.main-title-color-3 {
    color: #FF900E;
}

.main-description-div {
    width: 537px;
    height: 78px;
    margin: 20px 0;
}

.main-dexcription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;

}

.main-button-div {}

.main-button {
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 1px solid white;
}

/* <!--starting main 2  ----------------------------------> */
.main-plus-flex {
    display: flex;

}

.main-plus-container {
    width: 500px;
    height: 900px;
    margin-left: 150px;
    margin-top: 50px;

}

.architect-girl>img {
    max-width: 800px;
    max-height: 1059px;
    width: 100%;
    margin-top: 50px;
    padding: 0 100px;
}


.main-plus-div {
    width: 400px;
    height: 110px;
}

.main-plus-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;

    width: 400px;
    height: 110px;
    border-left: 5px solid #FF900E;

    padding-left: 10px;
    margin-bottom: 20px;
}

.main-plus-description-div {
    margin-bottom: 10px;
    width: 586px;
    height: 78px;
}

.main-class-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 586px;
    height: 78px;
    margin-bottom: 20px;
}

.main-plus-description-small {
    width: 586px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.descrioption-small-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;

}

.small-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}