/*-------- standered measurments------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* <!------------------Starting header area---------- --> */
.header-container {
    width: 100%;
    height: auto;
    background: rgba(255, 144, 14, 0.1);

}

.header-main-flex {
    display: flex;

    justify-content: space-between;
    padding: 50px 175px 50px 250px;
    align-items: center;
}

.header-secondary-flex {
    display: flex;

    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #727272;
}

ul li {
    list-style-type: none;
}

/* content area of header---------------------------------------- */
.header-div-align {

    width: 862px;

    margin: 100px auto 0 auto;
    text-align: center;

}

.header-title {
    font-size: 60px;
    line-height: 75px;

    text-align: center;

}


.header-small-description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;


}

.header-button {
    text-align: center;
    margin-top: 32px;

}

.btn {
    width: 180px;
    height: 64px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    color: #FFFFFF;
    background: #FF900E;
    border: 1px solid white;
    border-radius: 8px;
}

.header-img img {
    width: 100%;
    height: auto;
    padding: 50px 200px;
}

/* 
start main  1 area---------------------------------------- */
.main-container {}

.main-flex {
    display: flex;

    margin: 50px 200px;
}

.main-grid>img {
    max-width: 342px;
    max-height: 342px;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.main-content {
    width: 537px;
    height: 304px;
    margin-left: 50px;
    margin-top: 120px;

}

.main-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;


}

.main-title-div {
    width: 468px;
    height: 106px;
}

.main-title-color-1 {
    color: #727272;

}

.main-title-color-2 {
    color: #131313;
}

.main-title-color-3 {
    color: #FF900E;
}

.main-description-div {
    width: 537px;
    height: 78px;
    margin: 20px 0;
}

.main-dexcription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;

}



.main-button {
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 1px solid white;
}

/* <!--starting main 2  ----------------------------------> */
.main-plus-flex {
    display: flex;

}

.main-plus-container {
    width: 500px;
    height: 900px;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
}

.architect-girl {
    position: relative;
}

.architect-girl>img {
    max-width: 800px;
    max-height: 1059px;
    width: 100%;
    margin-top: 50px;
    padding: 0 100px;
    margin-right: 50px;
}

.architect-girl>button {

    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
}



.button-architect {
    width: 300px;
    height: 180px;
    background-color: #FF900E;
    padding: 10px;
    border-radius: 8px;
    border: none;

}

.year {
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
}

.experience {
    font-size: 25px;
    color: #FFFFFF;
}

.main-plus-div {
    width: 400px;
    height: 110px;
}

.main-plus-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;

    width: 400px;
    height: 110px;
    border-left: 5px solid #FF900E;

    padding-left: 10px;
    margin-bottom: 20px;
}

.main-plus-description-div {
    margin-bottom: 10px;
    width: 586px;
    height: 78px;
}

.main-class-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 586px;
    height: 78px;
    margin-bottom: 20px;
}

.main-plus-description-small {
    width: 586px;
    height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.descrioption-small-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;

}

.small-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


/* start of short article */

.facts-title {
    font-weight: 700;
    font-size: 40px;


}

.short-article {
    margin-left: 150px;
    margin-top: 70px;
}

.facts-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;


}

.facts-description-div {
    width: 500px;
    height: 52px;
    margin-bottom: 50px;
}

/* start of making box */
.box-flex {
    display: flex;

    justify-content: space-evenly;
}

.box {
    width: 160.83px;
    height: 160.83px;


    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;


}

.box:hover {
    background-color: #FF900E;
    border-radius: 10%;
}

.box>img {
    margin-top: 20px;
}

.number {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.text {
    font-size: 20px;
    color: #727272;
}

/* extra section strat------------------- */

.extra-section-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.extra-title {
    font-size: 40px;
    font-weight: 600px;
    margin-bottom: 50px;
}


.extrta-description {
    margin: 30px;
    font-size: 16px;
    color: #727272;
}



.extra-div-for-icon {
    width: 600px;
    height: 300px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    ;
    padding: 20px;
}

.fa-check {
    color: #FF900E;
    margin-right: 10px;
    font-size: 20px;


}

.extra-div-for-icon,
p {
    color: #727272;
    font-size: 24px;
}

/* sponser section--------------------- */


.sponsors-container {
    width: 542px;
    height: 129px;
    text-align: center;
    margin: auto;
}

.sponsors-title {
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 20px;
}

.sponsors-description {
    font-size: 16px;
    line-height: 26px;
}

.sponsors-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 100px;

}

.sponsors-grid>img {
    margin: auto;

}

/*  start footer area----------------- */

.footer {
    width: 1200px;
    height: 80px;
    margin: auto;
    background: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 50px;
}

.footer>h5 {
    text-align: center;
    padding-top: 35px;
    color: #727272;
}

/* footer end */
/* media query for moblile device -------------------*/
@media only screen and (max-width:576px) {

    /* <!------------------Starting header area---------- --> */
    .header-container {
        height: auto;
        background: rgba(255, 144, 14, 0.1);
        padding: 20px 0;
    }

    .header-main-flex {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .header-main-flex h1 {
        font-size: 18px;
    }

    .header-secondary-flex {
        display: flex;
        gap: 10px;
    }

    ul li {
        list-style-type: none;
    }

    ul li a {
        text-decoration: none;
        color: #727272;
        font-size: 14px;
    }

    /* content area of header---------------------------------------- */
    .header-div-align {
        width: 100%;
        margin: 100px auto 0;
        text-align: center;

    }

    .header-title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 20px;

    }


    .header-small-description {
        font-size: 14px;
        line-height: 26px;
        color: #727272;
        text-align: center;


    }

    .header-button {
        text-align: center;
        margin: 32px;

    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 16px;
        line-height: 0;
    }

    .header-img {
        text-align: center;
    }

    .header-img img {
        width: 80%;
        padding: 0;
    }

    /* start main  1 area---------------------------------------- */
    .main-container {
        width: 100%;
    }

    .main-flex {
        display: block;
        margin: 40px auto;
    }

    .main-grid img {
        max-width: 100px;
        max-height: 100px;
        width: 100%;
    }

    .main-grid {
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .main-content {
        width: 100%;
        height: 304px;
        margin-left: 0px;
        margin-top: 30px;

    }

    .main-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        /* padding: 20px; */
    }

    .main-title-div {
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    .main-title-color-1 {
        color: #727272;

    }

    .main-title-color-2 {
        color: #131313;
    }

    .main-title-color-3 {
        color: #FF900E;
    }

    .main-description-div {
        width: 80%;
        margin: 20px auto;
    }

    .main-dexcription {
        font-size: 16px;
        line-height: 26px;
    }

    .main-button-div {
        text-align: center;
        margin-top: 60px;
    }

    .main-button {
        font-size: 16px;
        color: #FFFFFF;
        width: 120px;
        height: 40px;
    }

    /* <!--starting main 2  ----------------------------------> */
    .main-plus-flex {
        display: block;

    }

    .main-plus-container {
        width: 90%;
        margin: 20px auto;
        height: auto;
    }

    .architect-girl {
        position: relative;
    }

    .architect-girl>img {
        max-width: 800px;
        max-height: 1059px;
        width: 100%;
        margin-top: 50px;
        padding: 0 100px;
        margin-right: 50px;
    }

    .architect-girl>button {

        position: relative;
        top: 90%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }



    .button-architect {
        width: 130px;
        height: 80px;
        background-color: #FF900E;
        padding: 10px;
        border-radius: 8px;
        border: none;

    }

    .year {
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFF;
    }

    .experience {
        font-size: 12px;
        color: #FFFFFF;
    }

    .main-plus-div {
        width: 400px;
        height: 110px;
    }

    .main-plus-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;

        width: 60%;
        height: auto;
        border-left: 5px solid #FF900E;

        padding-left: 10px;
        margin-bottom: 10px;
    }

    .main-plus-description-div {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .main-class-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #727272;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        text-align: justify;
    }

    .main-plus-description-small {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .descrioption-small-title {
        font-weight: 600;
        font-size: 18px;
        color: #131313;

    }

    .small-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        color: #727272;
    }


    /* start of short article */

    .facts-title {
        width: 90%;
        margin: 20px auto;
        font-weight: 700;
        font-size: 30px;

    }

    .short-article {
        margin: 10px auto;
    }

    .facts-description {

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;


    }

    .facts-description-div {
        width: 90%;
        margin: 20px auto;
        height: auto;
    }

    /* start of making box */
    .box-flex {
        width: 90%;
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
    }

    .box {
        width: 165px;
        height: auto;
    }

    .box>img {
        margin-top: 20px;
    }

    .number {
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 20px;
        color: #727272;
    }

    /* extra section strat------------------- */

    .extra-section-container {
        width: 80%;
        margin: 50px auto;
        text-align: center;
    }

    .extra-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }


    .extrta-description {
        margin: 30px;
        font-size: 14px;
        color: #727272;
    }

    .extra-div-for-icon {
        width: 90%;
        height: auto;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        ;
        padding: 20px;
    }

    .fa-check {
        color: #FF900E;
        margin-right: 10px;
        font-size: 20px;


    }

    .extra-div-for-icon,
    p {
        color: #727272;
        font-size: 24px;
    }

    /* sponser section--------------------- */


    .sponsors-container {
        width: 90%;
        height: auto;
        text-align: center;
        margin: 20px auto;
    }

    .sponsors-title {
        margin-top: 50px;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .sponsors-description {
        font-size: 16px;
        line-height: 26px;
    }

    .sponsors-grid {
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0;

    }

    .sponsors-grid img {
        margin: auto;
        width: 50px;
    }

    /*  start footer area----------------- */

    .footer {
        width: 90%;
        height: 60px;
        margin: auto;
        background: #FFF4E7;
        border-radius: 8px;
    }

    .footer h5 {
        text-align: center;
        padding: 20px 10px;
        color: #727272;
        font-size: 12px;
    }


}